.countdown-timer {
  text-align: center;
  padding: 4vh 0;
  margin: 8vh 0 20vh;

  h1 {
    line-height: 1.1;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    margin: 4vh 0;
    gap: 60px;

    @media screen and (max-width: 480px) {
      margin: 2vh 8vw;
      flex-wrap: wrap;
      gap: 20px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      margin: 4vh 2vw;
      flex-wrap: wrap;
      gap: 30px;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 40px;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      min-width: 140px;
      min-height: 140px;
      background-color: #444;
      box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
      border-radius: 10px;

      @media screen and (max-width: 480px) {
        min-width: 75px;
        min-height: 75px;
        gap: 0;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        min-width: 100px;
        min-height: 100px;
        gap: 10px;
      }
    }

    .title {
      color: #bbb;
      font-size: 30px;

      @media screen and (max-width: 480px) {
        font-size: 15px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 20px;
      }
    }

    .content {
      color: #ddd;
      position: relative;
      font-family: "Martian Mono", monospace;
      font-size: 50px;

      @media screen and (max-width: 480px) {
        font-size: 30px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 40px;
      }

      ::ng-deep img {
        display: block;
        width: 50px;
        height: 50px;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media screen and (max-width: 480px) {
          width: 30px;
          height: 30px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
