@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@include mat.core();

$frontend-primary: mat.define-palette(mat.$amber-palette);
$frontend-accent: mat.define-palette(mat.$indigo-palette, 300);

$frontend-warn: mat.define-palette(mat.$red-palette);

$frontend-theme: mat.define-dark-theme(
  (
    color: (
      primary: $frontend-primary,
      accent: $frontend-accent,
      warn: $frontend-warn,
    ),
  )
);

@include mat.all-component-themes($frontend-theme);

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth;
  cursor: default;
}

body {
  background-color: #1f1f1f;
}

.hr {
  margin: 7.5vh 0;
  width: 10vw;
  height: 1vh;
  background-color: #fff;

  @media screen and (max-width: 480px) {
    width: 20vw;
    margin: 2.5vh 0;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 15vw;
    margin: 5vh 0;
  }
}

.shr {
  margin: 5vh 0;
  width: 10vw;
  height: 1vh;
  background-color: #fff;

  @media screen and (max-width: 480px) {
    width: 20vw;
    margin: 2.5vh 0;
  }

  @media screen and (min-width: 481px) and (max-width: 768px) {
    width: 15vw;
  }
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: #69f0ae !important;
  --mdc-snackbar-supporting-text-color: #f2f2f2 !important;
  --mdc-snackbar-container-color: #333 !important;
  @media screen and (max-width: 480px) {
    max-width: 95vw;
  }
}

.special-date {
  .mat-calendar-body-cell-content {
    background-color: #69f0ae !important;
    color: #000;
    &:hover {
      background-color: #69f0ae !important;
    }
  }
}

.mat-calendar-body-label {
  visibility: hidden;
}

.mat-calendar-body-cell-content {
  background-color: transparent !important;
}
.mat-calendar-body-cell-content:hover {
  background-color: #555 !important;
}

.mat-calendar-body-selected {
  background-color: #555 !important;
  color: #fff;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: #999 !important;
}
