.meetings {
  .span-info {
    color: #f44336;
    font-size: 25px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding: 25px 0;

    @media screen and (max-width: 480px) {
      font-size: 15px;
      padding: 15px 0;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 20px;
      padding: 20px 0;
    }
  }

  .calendar-card {
    width: 30vw;
    color: white;
    margin-top: 2vh;
    padding: 10px 20px;

    @media screen and (max-width: 480px) {
      width: 80vw;
      padding: 5px 10px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      width: 55vw;
    }
  }
}
