@import "/src/variables.scss";

.documentation {
  .details {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;

    a {
      text-decoration: none;
    }

    .doc-text {
      justify-content: center;

      &:hover {
        background-color: #636363;
      }
    }

    mat-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 40vw;
      padding: 4vh 2vw;
      font-size: 26px;
      color: #eee;

      @media screen and (max-width: 480px) {
        min-width: 80vw;
        font-size: 18px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        min-width: 70vw;
        font-size: 22px;
      }

      @media screen and (min-width: 769px) and (max-width: 1200px) {
        min-width: 50vw;
      }

      .pdf {
        color: $warn-color;
      }

      .download {
        color: #999;
      }
    }

    .icons {
      display: flex;
      justify-content: center;
      column-gap: 10vw;

      i {
        font-size: 75px;
        color: white;

        @media screen and (max-width: 480px) {
          font-size: 45px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
          font-size: 60px;
        }
      }

      .fa-android {
        color: #78c257;

        &:hover {
          color: #62dc29;
        }
      }
    }
  }
}
