<div class="header">
  <div class="header-content">
    <h1>OdynCam</h1>
    <h2>Twój niezawodny wideorejestrator</h2>
    <nav class="navigation">
      <button class="btn" routerLink="/project-info" matTooltip="O projekcie" matTooltipPosition="below">
        <i class="fa fa-laptop"></i>
      </button>
      <button class="btn" routerLink="/gallery" matTooltip="Galeria" matTooltipPosition="below">
        <i class="fa fa-picture-o"></i>
      </button>
      <button class="btn" routerLink="/team" matTooltip="Nasz zespół" matTooltipPosition="below">
        <i class="fa fa-users"></i>
      </button>
      <button class="btn" routerLink="/meetings" matTooltip="Spotkania" matTooltipPosition="below">
        <i class="fa fa-handshake-o"></i>
      </button>
      <button class="btn" routerLink="/work-progress" matTooltip="Przebieg prac" matTooltipPosition="below">
        <i class="fa fa-tasks"></i>
      </button>
      <button class="btn" routerLink="/work-schedule" matTooltip="Harmonogram pracy" matTooltipPosition="below">
        <i class="fa fa-calendar"></i>
      </button>
      <button class="btn" routerLink="/semester-reports" matTooltip="Raporty semestralne" matTooltipPosition="below">
        <i class="fa fa-file-pdf-o"></i>
      </button>
      <button class="btn" routerLink="/documentation" matTooltip="Dokumentacja" matTooltipPosition="below">
        <i class="fa fa-book"></i>
      </button>
    </nav>
  </div>
  <div class="triangle-shape"></div>
</div>