@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap");
@import "/src/variables.scss";

.header {
  height: 100vh;
  background-image: url("../../../assets/images/background/pexels-abet-llacer-927444.png");
  background-size: cover;
  position: relative;

  .triangle-shape {
    position: absolute;
    bottom: -1px;
    border-left: 50vw solid $bg-color;
    border-right: 50vw solid $bg-color;
    border-top: 12.5vh solid transparent;
  }

  .header-content {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vh;

    @media screen and (max-width: 480px) {
      row-gap: 1vh;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      row-gap: 3vh;
    }

    h1 {
      font-weight: bold;
      text-shadow: 4px 4px 8px #000;
      font-size: 120px;
      padding-bottom: 12px;

      @media screen and (max-width: 480px) {
        font-size: 60px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 80px;
      }

      @media screen and (min-width: 769px) and (max-width: 1200px) {
        font-size: 100px;
      }
    }

    h2 {
      font-size: 40px;

      @media screen and (max-width: 480px) {
        font-size: 20px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 30px;
      }

      @media screen and (min-width: 769px) and (max-width: 1200px) {
        font-size: 35px;
      }
    }

    h1,
    h2 {
      color: #ddd;
      font-family: "Fira Sans Extra Condensed", sans-serif;
      animation: headlines 1.5s ease-in-out alternate;

      @keyframes headlines {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

      @media screen and (max-width: 768px) {
        animation: none;
      }
    }

    .navigation {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 80px;
      column-gap: 5vw;
      margin: 0 10vw;

      @media screen and (max-width: 480px) {
        margin: 0 15vw;
        row-gap: 3vh;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        margin: 0 15vw;
        row-gap: 3vh;
        column-gap: 2.5vw;
      }

      @media screen and (min-width: 769px) and (max-width: 1200px) {
        column-gap: 3vw;
      }

      .btn {
        background-color: transparent;
        font-size: 30px;
        color: #ddd;
        border: 5px solid #ddd;
        width: 70px;
        height: 70px;
        font-size: 35px;
        border-radius: 50%;
        transition: width 0.5s ease, height 0.5s ease, font-size 0.5s ease;
        z-index: 1;

        &:hover {
          background-color: #d61111;
          @media screen and (min-width: 769px) {
            width: 80px;
            height: 80px;
            font-size: 40px;
          }
        }

        @media screen and (max-width: 480px) {
          width: 50px;
          height: 50px;
          font-size: 25px;
          border-width: 3px;
          transition: none;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
          width: 60px;
          height: 60px;
          font-size: 30px;
          border-width: 3px;
          transition: none;
        }

        @media screen and (min-width: 769px) and (max-width: 1200px) {
          width: 64px;
          height: 64px;
          font-size: 32px;
          border-width: 4px;
          transition: none;
        }
      }
    }
  }
}
