<app-header></app-header>

<div class="video-recorder">
  <div class="corners">
    <div class="top left"></div>
    <div class="top right"></div>
    <div class="bottom left"></div>
    <div class="bottom right"></div>
  </div>

  <div class="recorder">
    <span>PLAY <i class="fa fa-play play_icon"></i></span>
    <span
      >REC
      <i class="fa fa-circle rec_icon"></i>
    </span>
  </div>

  <div class="timer">
    <cd-timer format="ms"></cd-timer>
  </div>
</div>

<div class="content">
  <app-project-info id="project-info"></app-project-info>
  <app-team id="team"></app-team>
  <app-meetings id="meetings"></app-meetings>
  <app-work-progress id="work-progress"></app-work-progress>
  <app-work-schedule id="work-schedule"></app-work-schedule>
  <app-semester-reports id="semester-reports"></app-semester-reports>
  <app-finish-time></app-finish-time>
</div>

<app-footer></app-footer>
