<div class="project-info">
        <h1>Opis projektu</h1>
        <div class="hr"></div>
        <p data-aos="zoom-out" data-aos-duration="500"> Projekt OdynCam to aplikacja dla osób które chcą tanim kosztem
                zyskać możliwości rejestratora samochodowego na swoim telefonie. <br /> Nasza aplikacja poza standardową
                funkcją nagrywania i zapisywania nagrań z dróg, będzie oferowała będzie oferowała inne funkcjonalności
                między innymi:
        <ul data-aos="zoom-in" data-aos-duration="500">
                <li>odtwarzanie wideo w aplikacji, </li>
                <li>odczytywanie rejestracji samochodowych, </li>
                <li>wyznaczanie odległości od poprzedzającego nas samochodu <br> (online/offline), </li>
                <li>dużo drobnych usprawnień i mniejszych funkcji</li>
        </ul>
        <p data-aos="zoom-out" data-aos-duration="500">i rzeczy o których nie pomyśleliśmy, a wyjdą w trakcie tworzenia.
        </p>
        <h2>Technologie i aplikacje</h2>
        <div class="shr"></div>
        <div class="logos" data-aos="zoom-in" data-aos-duration="1000">
                <a *ngFor="let element of technologies" href="{{element.href}}" target="_blank" rel="noreferrer"><img
                                src="{{element.imageSrc}}" alt="{{element.imageAlt}}" class="item" /></a>
        </div>
        <h2>Licencja</h2>
        <div class="shr"></div>
        <p data-aos="zoom-in" data-aos-duration="500">Wszelkie znaki towarowe są własnością ich właścicieli. <br> Na
                podstawie <a
                        href="http://pl.wikipedia.org/wiki/Licencje_BSD#Klauzula_og%C5%82oszeniowa,_3-klauzulowa_licencja_BSD"
                        target="_blank" rel="noreferrer">licencji 3-klauzulowej Berkeley</a> zezwalamy na wykorzystanie
                naszego kodu - wykluczając konkurencyjne zespoły Programowania Zespołowego do czasu zakończenia
                przedmiotu (20 września 2023) <br> P.S. Mamy dobrych prawników, nie próbujcie łamać postanowień
                licencyjnych. </p>
        <button class="license-btn" mat-flat-button color="warn" (click)="openDialog()">Treść licencji</button>
</div>