.project-info {
  h2 {
    font-size: 40px;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    color: #ddd;
    margin-top: 10vh;

    @media screen and (max-width: 480px) {
      font-size: 20px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 30px;
    }

    @media screen and (min-width: 769px) and (max-width: 1200px) {
      font-size: 35px;
    }
  }

  p {
    font-size: 25px;
    line-height: 1.25;
    text-align: center;
    margin: 0 10vw 5vh;

    @media screen and (max-width: 480px) {
      font-size: 15px;
      margin: 0 5vw 2.5vh;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 20px;
    }
  }

  .app_photo {
    max-width: 40vw;
    box-shadow: 8px 12px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    @media screen and (max-width: 480px) {
      max-width: 60vw;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      max-width: 50vw;
    }
  }

  a {
    color: #999;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: "\1F44D";
    font-size: 20px;
    line-height: 1.25;
    margin: -3vh 0 2vh;

    @media screen and (max-width: 480px) {
      font-size: 10px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 15px;
    }

    li {
      padding-left: 5px;
    }
  }

  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 7.5vw;
    row-gap: 7.5vh;
    width: 40vw;

    @media screen and (max-width: 768px) {
      width: 50vw;
    }

    .item {
      max-width: 5vw;

      @media screen and (max-width: 768px) {
        max-width: 7.5vw;
      }
    }
  }
}
