.work-schedule {
  .table {
    width: 60vw;

    th,
    td {
      padding: 8px;
    }

    @media screen and (max-width: 768px) {
      width: 75vw;
    }

    .mat-column-date,
    .mat-column-details {
      border-right: 1px solid #999;
      text-align: center;
    }

    .mat-column-status {
      text-align: center;
    }

    .fa-close {
      color: #f44336;
    }

    .fa-check {
      color: #69f0ae;
    }

    .fa-cog {
      color: #999;
    }

    .icon {
      pointer-events: auto;
      font-size: 20px;
    }
  }
}
