.work-progress {
  .marker {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: 1;
  }

  .card {
    padding: 16px;
    margin: 16px 0 32px;
  }

  ::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
      line-height: 1;
    }

    .customized-timeline {
      min-width: 65vw;
    }

    .p-timeline-event-connector {
      background-color: #999;
      margin: 0;
    }
  }

  @media screen and (max-width: 1024px) {
    ::ng-deep {
      .customized-timeline {
        .p-timeline-event:nth-child(even) {
          flex-direction: row !important;

          .p-timeline-event-content {
            text-align: left !important;
          }
        }

        .p-timeline-event-opposite {
          flex: 0;
        }

        .card {
          margin-top: 2vh;
        }
      }
    }
  }
}
