<div class="work-progress">
  <h1>Przebieg prac</h1>
  <div class="hr"></div>
  <p-timeline [value]="events" align="alternate" styleClass="customized-timeline">
    <ng-template pTemplate="marker" let-event>
      <span class="marker" [style.backgroundColor]="event.color">
        <i [ngClass]="event.icon"></i>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <mat-card data-aos="flip-up" data-aos-duration="500" class="card">
        <h2> {{ event.date }} </h2>
        <p> {{event.details}} </p>
      </mat-card>
    </ng-template>
  </p-timeline>
</div>