<div class="project-info">
  <h1>Opis projektu</h1>
  <div class="hr"></div>
  <p data-aos="zoom-out" data-aos-duration="1500">
    Projekt Odyn to aplikacja dla osób które chcą tanim kosztem zyskać
    możliwości rejestratora samochodowego na swoim telefonie. <br>
    Nasza aplikacja poza standardową funkcją nagrywania i zapisywania nagrań z dróg, będzie
    oferowała o wiele więcej.
  </p>
  <h2>Technologie</h2>
  <div class="hr"></div>
  <div class="logos" data-aos="zoom-out" data-aos-duration="1500">
    <a href="http:///developer.android.com/studio" target="_blank" rel="noreferrer"><img src="./assets/images/technologies/Android_Studio_Icon_3.6.png" alt="Android Studio" class="android-studio"></a>
    <a href="http://java.com/pl/" target="_blank" rel="noreferrer"><img src="./assets/images/technologies/Java_programming_language_logo.png" alt="Java" class="java"></a>
    <a href="http://kotlinlang.org" target="_blank" rel="noreferrer"><img src="./assets/images/technologies/Kotlin_logo.png" alt="Kotlin" class="kotlin"></a>
    <a href="http://tensorflow.org/" target="_blank" rel="noreferrer"><img src="./assets/images/technologies/TensorFlow_logo.png" alt="Tensor Flow" class="tensor-flow"></a>
    <a href="http://typescriptlang.org/" target="_blank" rel="noreferrer"><img src="./assets/images/technologies/Typescript_logo_2020.png" alt="TypeScript" class="ts"></a>
    <a href="http://angular.io" target="_blank" rel="noreferrer"><img src="./assets/images/technologies/Angular_full_color_logo.png" alt="Angular" class="angular"></a>
    <a href="http://trello.com/pl" target="_blank" rel="noreferrer"><img src="./assets/images/technologies/Trello_logo.png" alt="Trello" class="trello"></a>
  </div>
</div>