<div class="project-info">
        <h1>Opis projektu</h1>
        <div class="hr"></div>
        <p data-aos="zoom-out" data-aos-duration="1500"> Projekt Odyn to aplikacja dla osób które chcą tanim kosztem
                zyskać możliwości rejestratora samochodowego na swoim telefonie. <br /> Nasza aplikacja poza standardową
                funkcją nagrywania i zapisywania nagrań z dróg, będzie oferowała o wiele więcej. </p>
        <h2>Funkcjonalność aplikacji</h2>
        <div class="shr"></div>
        <ul data-aos="zoom-in" data-aos-duration="1500">
                <li>odtwarzanie wideo w aplikacji, </li>
                <li>rozpoznawanie tablic, </li>
                <li>szacowanie odległości od pojazdu z przodu,</li>
                <li>dużo drobnych usprawnień i mniejszych funkcji</li>
        </ul>
        <h2>Technologie i aplikacje</h2>
        <div class="shr"></div>
        <div class="logos" data-aos="zoom-in" data-aos-duration="1500">
                <a href="http:///developer.android.com/studio" target="_blank" rel="noreferrer"
                        class="android-studio"><img src="./assets/images/technologies/Android_Studio_Icon_3.6.png"
                                alt="Android Studio" class="item" /></a>
                <a href="http://java.com/pl/" target="_blank" rel="noreferrer" class="java"><img
                                src="./assets/images/technologies/Java_programming_language_logo.png" alt="Java"
                                class="item" /></a>
                <a href="http://github.com" target="_blank" rel="noreferrer" class="github"><img
                                src="./assets/images/technologies/github.png" alt="GitHub" class="item" /></a>
                <a href="http://discord.com" target="_blank" rel="noreferrer" class="dc"><img
                                src="./assets/images/technologies/discord.png" alt="Discord" class="item" /></a>
                <a href="http://angular.io" target="_blank" rel="noreferrer" class="angular"><img
                                src="./assets/images/technologies/Angular_full_color_logo.png" alt="Angular"
                                class="item" /></a>
                <a href="http://typescriptlang.org/" target="_blank" rel="noreferrer" class="ts"><img
                                src="./assets/images/technologies/Typescript_logo_2020.png" alt="TypeScript"
                                class="item" /></a>
                <a href="http://trello.com/pl" target="_blank" rel="noreferrer" class="trello"><img
                                src="./assets/images/technologies/Trello_logo.png" alt="Trello" class="item" /></a>
                <a href="http://kotlinlang.org" target="_blank" rel="noreferrer" class="kotlin"><img
                                src="./assets/images/technologies/Kotlin_logo.png" alt="Kotlin" class="item" /></a>
                <a href="http://tensorflow.org/" target="_blank" rel="noreferrer" class="tensorflow"><img
                                src="./assets/images/technologies/TensorFlow_logo.png" class="item"
                                alt="Tensor Flow" /></a>
        </div>
        <h2>Licencja</h2>
        <div class="shr"></div>
        <p class="license-text" data-aos="zoom-in" data-aos-duration="1500">Wszelkie znaki towarowe są własnością ich
                właścicieli. <br> Na podstawie <a
                        href="http://pl.wikipedia.org/wiki/Licencje_BSD#Klauzula_og%C5%82oszeniowa,_3-klauzulowa_licencja_BSD"
                        target="_blank" rel="noreferrer">licencji 3-klauzulowej Berkeley</a> zezwalamy na wykorzystanie
                naszego kodu - wykluczając konkurencyjne zespoły Programowania zespołowego do czasu zakończenia
                przedmiotu (20 września 2023) <br> P.S. Mamy dobrych prawników, nie próbujcie łamać postanowień
                licencyjnych. </p>
        <button class="license-btn" mat-raised-button color="warn" (click)="openDialog()">Treść licencji</button>
</div>