.team {
  .keeper,
  .members {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 7.5vw;
    gap: 25px;

    @media screen and (max-width: 599px) {
      margin: 0;
    }

    @media screen and (min-width: 600px) and (max-width: 1024px) {
      margin: 0 2.5vw;
    }

    mat-card {
      flex-basis: 20vw;
      align-items: center;
      text-align: center;
      border-radius: 10px;

      @media screen and (max-width: 599px) {
        flex-basis: 50vw;
      }

      @media screen and (min-width: 600px) and (max-width: 1024px) {
        flex-basis: 35vw;
      }

      &:hover {
        background-color: #555;
        cursor: pointer;
      }

      .full-name {
        font-size: 20px;
        color: #eee;

        @media screen and (max-width: 768px) {
          font-size: 16px;
        }

        @media screen and (min-width: 769px) and (max-width: 1200px) {
          font-size: 18px;
        }
      }

      .mail,
      .role,
      .tech {
        font-size: 14px;

        @media screen and (max-width: 768px) {
          font-size: 12px;
        }
      }

      .fa-keyboard-o {
        color: #999;
      }

      .fa-envelope,
      .fa-keyboard-o {
        margin-right: 5px;
      }

      a {
        color: #a4d6ef;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .fa-crown:before {
        margin-left: 2px;
        content: "\1f451";
      }

      .avatar {
        margin-top: 10px;
        width: 150px;
        border-radius: 50%;

        @media screen and (max-width: 480px) {
          width: 100px;
        }

        @media screen and (min-width: 481px) and (max-width: 768px) {
          width: 125px;
        }
      }
    }
  }

  .keeper {
    margin-bottom: 25px;
  }
}
