<div class="countdown-timer">
  <h1>Do publicznej prezentacji projektu pozostało</h1>
  <div class="wrapper" data-aos="flip-down" data-aos-duration="2500">
    <div class="item">
      <p class="title">Tygodni</p>
      <p class="content" #weeks></p>
    </div>
    <div class="item">
      <p class="title">Dni</p>
      <p class="content" #days></p>
    </div>
    <div class="item">
      <p class="title">Godzin</p>
      <p class="content" #hours></p>
    </div>
    <div class="item">
      <p class="title">Minut</p>
      <p class="content" #minutes></p>
    </div>
    <div class="item">
      <p class="title">Sekund</p>
      <p class="content" #seconds></p>
    </div>
  </div>
</div>
