.dialog {
  display: flex;
  flex-direction: column;
  width: 45vw;
  padding: 15px 0;
  position: relative;

  @media screen and (max-width: 480px) {
    padding: 5px 0;
    width: 85vw;
  }

  @media screen and (min-width: 480px) and (max-width: 768px) {
    font-size: 15px;
    width: 45vw;
  }

  .dialog-title {
    font-size: 24px;

    @media screen and (max-width: 480px) {
      font-size: 13px;
      margin: -5px -10px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 15px;
      margin: -5px -10px;
    }
  }

  .dialog-content {
    font-size: 18px;
    line-height: 1.25;
    margin-left: 10px;

    @media screen and (max-width: 480px) {
      font-size: 11px;
      margin: 0 -10px;
    }

    @media screen and (min-width: 481px) and (max-width: 768px) {
      font-size: 13px;
      margin: 0 -10px;
    }
  }

  .dialog-actions {
    position: absolute;
    top: 20px;
    right: 20px;

    @media screen and (max-width: 480px) {
      top: 10px;
      right: 5px;
    }

    button {
      @media screen and (max-width: 480px) {
        width: 24px;
        height: 24px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        width: 30px;
        height: 30px;
      }
    }
  }
}
