<div class="dialog">
  <h1 class="dialog-title" mat-dialog-title> Spotkanie #{{ data.id }} (godz. {{ data.startTime }} - {{ data.finishTime
    }}) </h1>
  <div class="location">
    <span><mat-icon>home</mat-icon></span>
    <span>{{data.location}}</span>
  </div>
  <div class="dialog-content" mat-dialog-content>
    <span>{{ data.title }} <br /> {{ data.description }}</span>
  </div>
  <div class="dialog-actions" align="end" mat-dialog-actions>
    <button mat-mini-fab color="warn" matTooltip="Zamknij okno" matTooltipPosition="above" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>