<div class="dialog">
  <h1 class="dialog-title" mat-dialog-title>
    Spotkanie #{{ data.position }} (godz. {{ data.start_time }} -
    {{ data.finish_time }})
  </h1>
  <div class="dialog-content" mat-dialog-content>
    <span
      >{{ data.description1 }} <br />
      {{ data.description2 }}</span
    >
  </div>
  <div class="dialog-actions" align="end" mat-dialog-actions>
    <button
      mat-mini-fab
      color="warn"
      matTooltip="Zamknij okno"
      matTooltipPosition="above"
      mat-dialog-close
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
