.dialog {
  display: flex;
  flex-direction: column;
  width: 40vw;
  padding: 20px;

  @media screen and (max-width: 1024px) {
    width: 80vw;
  }

  .dialog-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 24px;
      padding: 0;
      margin-bottom: 4px;

      @media screen and (max-width: 480px) {
        font-size: 16px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 18px;
      }
    }

    .close-btn {
      @media screen and (max-width: 768px) {
        width: 36px;
        height: 36px;
      }
    }
  }

  .location {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 0 0 10px 5px;
    color: #ccc;

    span {
      font-size: 16px;

      @media screen and (max-width: 480px) {
        font-size: 12px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }

  .dialog-content {
    color: #ccc;
    padding-left: 10px;

    h2 {
      font-size: 20px;
      margin: 0;

      @media screen and (max-width: 480px) {
        font-size: 12px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;

      @media screen and (max-width: 480px) {
        font-size: 12px;
      }

      @media screen and (min-width: 481px) and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
